
body {
	background-color: #F9F6E1;
	font-size: 100%;			
}

#main {
	width: 60%;
	margin: auto;
	font-family: "Times New Roman", Times, serif;
}

p, ul {
	line-height: 1.5;
	font-size: 1em;
	border-bottom: solid 1px #552812;
	padding-bottom: 20px;
}

p {

	text-align: center;
}


h1 {
	font-family: 'Tangerine', "Times New Roman", Times, serif;
	color: #552812;
	font-size: 4em;
	margin-bottom: 10px;
}